body {
  font-family: 'Bitter';
  background-color: lime;
}

img {
  width: 33.3%;
}

#square {
   width: 33.3%;
   height: 100%;
   background: green;
   position: absolute;
   left: 10px;
   top: 50px;
   text-align: center;
   font-weight: bolder;
   font-size: 24pt;
 }
